* {
    justify-content: center;
    align-items: center;
}

body {
    background: #222d32;
    font-family: "Roboto", sans-serif;
}

.login-box {
    height: 100vh;
}

.login-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

.form-control-label {
    font-size: 10px;
    color: #6c6c6c;
    font-weight: bold;
    letter-spacing: 1px;
}

input[type="text"],
input[type="password"] {
    background: #222d32;
    border: none;
    border-bottom: 2px solid white;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ecf0f5;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0db8de;
    outline: 0;
    background-color: #222d32;
    color: #ecf0f5;
}

.btn-outline-primary {
    border-color: white;
    position: relative;
    align-items: center;
    color: white;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: white;
    right: 0px;
}

